Requesting fixes in v6.basic.feature tests as a result of review.

<h3>v6.basic.feature</h3>

Comment below the Feature declaration doesn't make sense,
in particular: "... to check if presence of the message types...".
Perhaps it would be better to say:

This is a simple DHCPv6 message exchange validation. Its purpose
is to verify that server responds with messages of expected types,
specified in RFC 3315, section 5.3.

Also, it would be useful to have a TODO comment in the descrption
of the feature. In particular, there is no test case for
SOLICIT-REPLY exchange, Rapid Commit option.

General comment to all tests... The option "7" is extensively used
in all test cases. It is worth to define a name for such an option
in the framework sucj as "preference". It is meaningful to somebody
who doesn't remember option code to name mapping and it makes the
test scenario more readable.v6.basic.feature
Comment below the Feature declaration doesn't make sense,
in particular: "... to check if presence of the message types...".
Perhaps it would be better to say:

This is a simple DHCPv6 message exchange validation. Its purpose
is to verify that server responds with messages of expected types,
specified in RFC 3315, section 5.3.

Also, it would be useful to have a TODO comment in the descrption
of the feature. In particular, there is no test case for
SOLICIT-REPLY exchange, Rapid Commit option.

General comment to all tests... The option "7" is extensively used
in all test cases. It is worth to define a name for such an option
in the framework sucj as "preference". It is meaningful to somebody
who doesn't remember option code to name mapping and it makes the
test scenario more readable.

Since, all v6.basic.feature tests are devoted to test section 5.3 of
RFC3315, maybe they could be tagged as "@rfc3315" and "@section5.3".
At least all tests should be tagged with rfc number.
Also, it may be useful to add @message tag to differentiate these tests from v6.address.feature tests which are also tagged @v6 @basic.

There should be more sanity checks on incoming messages. Let's have
a look on the real life case.... Currently Kea has a stub
implementation for DECLINE messages. It responds with a Reply
message but this message is incorrect from the protocol point of
view - it lacks server id. The v6.basic.message.decline-reply test
simply checks that the Reply message is received, but it doesn't
sanity check the contents. Therefore, this test passes. I understand
that the test purely follows the letter of section 5.3 of RFC3315 which
doesn't specify what the correct answer should be. But, there is another
section in RFC3315 which says that client MUST discard messages which
don't have server id. By accepting such messages and passing this test
we "kind of" accept misbehavior of the server.

<h4>v6.basic.message.advertise</h4>

The general naming convention for scenarios, defined in this file,
is not followed here. For exaple, one of the scenarios is called
v6.basic.message.request-reply, which suggests that the name of
this scenario name should rather be v6.basic.message.solicit-advertise.

<h4>v6.basic.message.confirm-reply</h4>

Spurious tag @sprawdz.

<h4>v6.basic.message.decline-reply and
v6.basic.message.information_request-reply</h4>


Both tests do almost exactly the same. Kea's code path for both messages
is alsmost the same for both DECLINE and INFORMATION_REQUEST messages as
in both cases "empty" REPLY message is constructed (dhcp6_srv.cc,
processDecline() and processInfRequest()). Surprisingly, the first
test passes because the REPLY message is received. The other test fails,
as the response is not received. I have verified with wireshark that
in both cases Reply message is generated but the response is not
received by the client for some reason. Why?
